.wrapper {
  height: 60vh;
  min-height: 500px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8743872549) 100%
  );
}

.grid-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  gap: 20px;
  padding: 0 20px;
  grid-auto-flow: column;
}

.card-wrapper {
  height: 100%;
  position: relative;
  transition: all 0.5s;
  &:hover {
    filter: brightness(1.2);
    transform: scale(1.02);
  }
}

.card-content {
  border-left: 4px solid rgb(255, 169, 11);
  border-right: 4px solid rgb(255, 169, 11);
  margin: 0 auto;
  height: 100%;
  position: relative;
  max-width: 430px;
  filter: brightness(0.8);

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 4px;
    width: 15%;
    background: rgb(255, 169, 11);
  }

  &::after {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
}

.section-description {
  height: 100px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8743872549) 100%
  );
  display: flex;
  align-items: center;
}

.text {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 1px;
}

.location {
  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 10px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  &-empty-block {
    flex: 1 1 40%;
  }
  &-info-wrapper {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-country {
    font-size: 20px;
  }
  &-location {
    font-size: 33px;
    line-height: 47px;
  }
  &-description {
    font-size: 15px;
  }

  &-devider {
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background: #ffffff;
  }
}
