.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 100px 170px 0 130px;
}

.title {
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
}

.burger {
  cursor: pointer;
  width: 45px;
  height: 40px;
  position: relative;

  &-item {
    position: absolute;
    height: 5px;
    background: #ffffff;
    transition: all 0.3s;

    &:nth-child(1) {
      width: 100%;
      top: 0;
    }
    &:nth-child(2) {
      width: 100%;
      top: 17px;
    }
    &:nth-child(3) {
      width: 75%;
      right: 0;
      top: 34px;
    }
  }
}

.active {
  .burger-item {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 18px;
    }
    &:nth-child(2) {
      width: 0px;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      width: 100%;
      top: 18px;
    }
  }
}

.logo-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
}
