.header {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 100px 120px 0 60px;
}

.title {
  color: #ffffff;
  font-weight: 600;
  font-size: 90px;
  letter-spacing: 5px;
}

.burger {
  cursor: pointer;
  width: 45px;
  height: 40px;
  position: relative;

  &-item {
    position: absolute;
    height: 4px;
    background: #ffffff;
    transition: all 0.3s;

    &:nth-child(1) {
      width: 100%;
      top: 0;
    }

    &:nth-child(2) {
      width: 100%;
      top: 17px;
    }

    &:nth-child(3) {
      width: 75%;
      right: 0;
      top: 34px;
    }
  }
}

.active {
  .burger-item {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 18px;
    }

    &:nth-child(2) {
      width: 0px;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      width: 100%;
      top: 18px;
    }
  }
}

.logo-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
}
