.list-wrapper {
  padding: 20px 0;
}

.title-wrapper {
  div {
    padding: 0 0 3px 0;
  }
}

.items-wrapper {
  padding: 5px 0 0 20px;
}

.item-wrapper {
  div {
    padding: 4px;
  }
}

.disc {
  padding: 0 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 13px;
    width: 11px;
    height: 11px;
    border: 1px solid #fdcea0;
    border-radius: 50%;
    background-color: #fdcea0;
  }
}
