.wrapper {
  padding: 120px 0;
  background: #080808;
}

.flex-wrapper {
  display: flex;
  column-gap: 40px;
}

.flex-wrapper.left {
  flex-direction: row-reverse;
}

.img-wrapper {
  flex: 1 1 40%;
  position: relative;
  //max-height: 300px;
}

.text-wrapper {
  position: relative;
  flex: 1 1 60%;
  padding: 20px 20px 20px 0;
  margin: 20px 20px 20px 0;
  border-right: 3px rgb(255, 169, 11) solid;

  &::after,
  &::before {
    content: "";
    height: 3px;
    background: rgb(255, 169, 11);
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &::before {
    top: auto;
    bottom: 0;
    width: 60%;
  }
}

.text-wrapper.left {
  border-right: none;
  border-left: 3px rgb(255, 169, 11) solid;
  padding: 20px 0px 40px 60px;
  &::after,
  &::before {
    left: 0;
    right: auto;
  }
}

.title {
  margin-top: 30px;
  color: #ffffff;
  font-size: 35px;
}

.text {
  margin-top: 30px;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 1px;
}
